<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body><center>
        <!--Navigation area-->
        <strong><nav>
            <ul class="menu">
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('track') }}">Tracker</a></li>
                <li><a href="{{ url_for('give_recs') }}">Pick a Drink</a></li>
            </ul>
        </nav></strong>
        <!--Other required info-->                
        <p>Pedro B T Santos</p>
        <img src="/static/images/SantosPedro.jpg" alt="Profile">   
        <p>Grade: Sophomore</p>
        <p>Intended Major: Computer Science</p>
        <p>Fave website: <a href="https://80000hours.org">80000hours</a></p>    
    </center></body>
</html>

